@import url('colors.module.css');

* {
    /* Debug */
    /* border: 1px solid red !important; */

    margin: 0;
    background-color: var(--sumiInk2);
    /* color: white; */
}


h1 {
    color: var(--waveAqua2);
}

button {
    background-color: var(--waveBlue1);
    color: var(--carpYellow);
    border-radius: 12px;
}

footer {
    margin-top: auto;
    width: 100%;
    padding-bottom: 20px;
    align-content: center;
    text-align: center;
}

p {
    color: var(--fujiWhite);
}

a {
    text-decoration: none;
    color: var(--surimiOrange);
}
