@import url('colors.module.css');

* {
    /* Debug */
    /* border: 1px solid red !important; */
    margin: 0;
    color: var(--text-color);
    transition: 300ms;
}

body {
    background-color: var(--body-bg);
    font-family: var(--default-font);
    font-weight: var(--default-font-weight);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    color: var(--h-text);
}

p {
    font-size: var(--default-font-size);
}

img, picture, video, canvas, svg {
    max-inline-size: 100%;
}

a {
    text-decoration: none;
    font-size: var(--default-font-size);
    color: var(--link-color);
}

button {
    background-color: var(--button-bg);
    font-family: var(--default-font);
    font-size: 13px;
    color: var(--button-text);
    border-radius: 12px;
    border: none;
    padding: 1px 6px;
}
