@import url('colors.module.css');

* {
    /* Debug */
    /* border: 1px solid red !important; */

    margin: 0;
    /* padding: 0; */
    background-color: var(--sumiInk2);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--waveAqua2);
}

p {
    color: var(--fujiWhite);
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

a {
    text-decoration: none;
    color: var(--surimiOrange);
}

button {
    background-color: var(--waveBlue1);
    color: var(--carpYellow);
    border-radius: 12px;
    padding: 1px 6px;
}
