---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { URL_BASE } from "@scripts/constants";
---

<DefaultLayout pageTitle="About">
    <p>Working on it...</p>
    <p>
        Check out the <a href=`/${URL_BASE}/solutions`>solutions</a> page for what's
        to come.
    </p>
</DefaultLayout>
