---
import DefaultLayout from "@layouts/DefaultLayout.astro";
import { URL_BASE, UPDATE_12_DAYS_URL } from "@scripts/constants";
---

<DefaultLayout pageTitle="About">
    <p>Working on it...</p>
    <p>
        Check out the <a href=`/${URL_BASE}/solutions`>solutions</a> page for what's
        to come. Check out the <a href=`${UPDATE_12_DAYS_URL}` target="_blank"
            >update</a
        > for this year's change moving to a 12 day event.
    </p>
</DefaultLayout>
