---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Advent of Code 2025</h1>
    <p>
        This is the website for <a href="https://adventofcode.com/"
            >Advent of Code</a
        >
        <a href="https://adventofcode.com/2025">2025</a>. This website is
        definitely a work in progress. Check it out later when it is more done
        and especially once the event starts.
    </p>
    <p>
        In the meantime you can check out the <a href="solutions/"
            >last year solutions</a
        > demo pages.
    </p>
</BaseLayout>
