---
import { YEAR, AUTHOR } from "@scripts/constants";

const { sourceFile } = Astro.props;
---

<footer>
    {
        sourceFile && (
            <p>
                View today's solution{" "}
                <a href={sourceFile} target="_blank">
                    source
                </a>
            </p>
        )
    }
    <p>&copy; {YEAR} {AUTHOR}</p>
</footer>
