---
import { YEAR } from "@scripts/constants";
---

<style>
    footer {
        margin-top: auto;
        width: 100%;
    }
    .copyright-line {
        display: flex;
        justify-content: center;
    }
</style>

<footer>
    <p class="copyright-line">&copy; {YEAR} Marcus Harbol, Software Engineer</p>
</footer>
