---
import HeaderNavItem from "./HeaderNavItem.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
    <nav>
        <HeaderNavItem name="Home" path="/" />
        <HeaderNavItem name="Solutions" path="/solutions" />
        <HeaderNavItem name="About" path="/about" />
        <div class="toggle">
            <ThemeToggle />
        </div>
    </nav>
</header>

<style>
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .toggle {
        position: absolute;
        right: 20px;
    }
</style>
