---
import { URL_BASE } from "@scripts/constants";

interface Props {
    name: string;
    path: string;
}

const { name, path } = Astro.props;
---

<a href=`/${URL_BASE}${path}`>{name}</a>

<style>
    a {
        padding: 4px 12px;
        border-radius: 15px;
        margin: 20px 20px 15px 10px;
        background-color: var(--nav-button-color);
        color: var(--nav-button-text);
    }
    a:hover {
        background-color: var(--hover-color);
    }
</style>
