---
import HeaderNavItem from "./HeaderNavItem.astro";
---

<header>
    <nav>
        <HeaderNavItem name="Home" path="/" />
        <HeaderNavItem name="Solutions" path="/solutions" />
        <HeaderNavItem name="About" path="/about" />
    </nav>
</header>

<style>
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>
