---
import { URL_BASE } from "@scripts/constants";

const { name, path } = Astro.props;
---

<a href=`/${URL_BASE}${path}`>{name}</a>

<style>
    a {
        padding: 4px 12px;
        border-radius: 15px;
        margin: 20px 20px 5px;
        background-color: var(--button-color);
        color: var(--button-text);
    }
</style>
