---
import { URL_BASE } from "@scripts/constants";
---

<header>
    <nav>
        <a href=`/${URL_BASE}/`>Home</a>
        <a href=`/${URL_BASE}/solutions`>Solutions</a>
        <a href=`/${URL_BASE}/about`>About</a>
    </nav>
</header>
