---
import LeftMenuItem from "./LeftMenuItem.astro";
import { URL_BASE } from "@scripts/constants";

const { allDays, selectedDay } = Astro.props;
---

<div class="container">
    {
        allDays
            .sort((l: any, r: any) => l.data.dayNumber - r.data.dayNumber)
            .map((day: any) => (
                <div class="inner-container">
                    <LeftMenuItem
                        dayNumber={day.data.dayNumber}
                        url={`/${URL_BASE}/solutions/${day.id}`}
                        isSelectedDay={selectedDay == day.data.dayNumber}
                        isReady={day.data.isReady}
                    />
                </div>
            ))
    }
</div>

<style>
    .inner-container {
        margin: 0px 15px 2px 10px;
    }
</style>
