---
const { dayNumber } = Astro.props;
const placeholder: string = "Paste input here...";
---

<div id="solution-area">
    <button id="btn-solve" name={dayNumber}>Solve</button>
    <div class="solution">
        <p>Part 1</p>
        <p id="part-1"></p>
    </div>
    <div class="solution">
        <p>Part 2</p>
        <p id="part-2"></p>
    </div>
</div>
<div>
    <button id="btn-load-input" name={dayNumber}>Load Example Input</button>
    <button id="btn-clear-input">Clear Input</button>
</div>

<script src="@scripts/attach-solution.ts"></script>

<textarea
    placeholder={placeholder}
    id="puzzle-input"
    name="puzzle-input"
    spellcheck="false"
    required
    wrap="soft"></textarea>

<style>
    #puzzle-input {
        resize: none;
        min-height: 50vh;
    }

    #solution-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        /* border: 2px solid red; */
        padding: 0px;
        margin: 0px;
        line-height: 0;
    }
</style>

<script>
    // clear input
    const puzzleInput = document.getElementById("puzzle-input")!;
    document
        .getElementById("btn-clear-input")
        ?.addEventListener("click", () => {
            //@ts-ignore
            puzzleInput.value = "";
        });
</script>

<script>
    // insert example
    const dayNum = document.getElementById("btn-solve")?.getAttribute("name")!;
    fetch(`/resources/day${dayNum.padStart(2, "0")}.txt`)
        .then((res) => res.text())
        .then((text) => {
            let puzzleInput = document.getElementById("puzzle-input");
            document
                .getElementById("btn-load-input")
                ?.addEventListener("click", () => {
                    // @ts-ignore
                    puzzleInput!.value = text.trimEnd();
                });
        });
</script>
