[package]
name = "aoc_2025"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
lto = true

[dependencies]
range-set-blaze = "0.4.1" # TODO - remove this
regex = "1.11.1"
wasm-bindgen = "0.2.100"
