---
import BaseLayout from "@layouts/BaseLayout.astro";
import SolutionSelection from "@components/SolutionSelection.astro";
import { URL_BASE } from "@scripts/constants";
import { getCollection } from "astro:content";

const allDays = await getCollection("solutions");
---

<BaseLayout pageTitle="Solutions">
    <h1>Solutions Home</h1>
    {
        allDays
            .sort((l: any, r: any) => l.data.dayNumber - r.data.dayNumber)
            .map((day) => (
                <SolutionSelection
                    dayUrl={`/${URL_BASE}/solutions/${day.id}`}
                    dayNumber={day.data.dayNumber}
                    isReady={day.data.isReady}
                />
            ))
    }
</BaseLayout>
