---
import BaseLayout from "./BaseLayout.astro";
import LeftMenu from "@components/LeftMenu.astro";

const { pageTitle, sourceFile, selectedDay } = Astro.props;

const allDays = Object.values(
    import.meta.glob("../pages/solutions/day[0-9][0-9].md", { eager: true }),
);
---

<BaseLayout {pageTitle} {sourceFile}>
    <div class="container">
        <div class="left-menu">
            <LeftMenu allDays={allDays} selectedDay={selectedDay} />
        </div>
        <div class="slot">
            <slot />
        </div>
        <div class="spacer"></div>
    </div>

    <style>
        .container {
            margin-top: 10px;
            display: flex;
        }
        .left-menu {
            width: auto;
            margin-top: 10px;
        }
        .slot {
            display: flex;
            flex-direction: column;
            margin: 0;
            width: 100%;
        }
        .spacer {
            width: 80px;
        }
    </style>
</BaseLayout>
